@import url('https://fonts.googleapis.com/css?family=Pacifico');
  
body{
  background-color: #AFEEEE;
  text-align:center
}

h1 {
  font-size: 2.5em;
  font-family: "Pacifico";
  color: teal
}

p {
  font-family: calibri;
  margin:30px 0 30px
}

.start {
  display: block;
  background-color: gold;
  color: black;
  font-family:impact;
  width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px; /*50% will get circle*/
  line-height:5em;
  text-decoration:none;
  box-shadow: 5px 0px 20px black;
  margin-top: 30px
}

a:hover {
  color:green;
}